/*@font-face {
    font-family: copperplate;
    src: url('font/copperplate/copperplate.ttf');
}*/

body html {
	font-family: 'Roboto' sans-serif;
}

.extraInfo{
	padding-top:1%; 
	padding-bottom: 1%;
	background-color: #cbcbcb;
}

#get_location{
	color: #2baae1;
	font-weight: 600;
	font-family: 'Roboto';
}

.btn {
	font-family: 'Roboto';
	font-size: 20pt;
	font-weight: 400;
}

#bt_news,#bt_yourThought,#bt_qr{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

@media(max-width:768px) {
#bt_news,#bt_yourThought,#bt_qr{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}
}
