.media{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: blue;
}

.MSG_Box{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	position:fixed;
}

.poll{
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	background: rgba(255, 255, 255, 0.85);
}

.poll:hover{
	cursor: pointer;
}

.msg{
	height: 50%;
	background: rgba(255, 255, 255, 0.85);
}

.msg textarea{
	width: 80%;
	resize: none;
}

#send_message{
	width: 10%;
	background-image: url("../img/send.png");
	background-size: contain;
	background-repeat: no-repeat;
}

@media (max-width:768px){
	
	.poll ul{
		margin-bottom: -1%;	
	}

}

@media (min-width:768px){
	
	.poll ul{
		margin-bottom: 1%;	
	}

}

/*Hang*/
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }

  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-hang img:hover, .hvr-hang img:focus{
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}